* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  width: 375px;
  font-family: "Poppins", sans-serif;
  display: block;
  margin: 0 auto;
  background-color: #f4f5f7;
}

a:hover {
  cursor: pointer;
  color: #2230d2;
}

.central-wrapper {
  height: 720px;
  background-color: #fff;
  border-bottom-left-radius: 70px;
}

.header-class {
  height: 48px;
  border-radius: 0;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 4000;
}

.logo-text {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
}

.main-wrapper {
  padding: 0 24px;
  position: absolute;
  width: 375px;
  top: 24px;
  background-image: url(resources/img/header-shapes\ mobile.png);
  padding-top: 92px;
}

.name {
  font-size: 40px;
  font-weight: 900;
}

.self-intro {
  height: 146px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 88px;
  color: #344563;
}

.self {
  margin-bottom: 72px;
}

.social-media-icons {
  width: 170px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 12px;
}

.social-connect {
  color: #7f8cff;
  font-weight: 500;
}

.social-media-icons img {
  height: 20px;
}

.dynamic-content {
  width: 375px;
  margin-top: 114px;
  border-radius: 16px;
}

.portfolio-content {
  padding: 16px 16px;
  background-color: #fff;
  margin: 82px 0;
  border-radius: 16px;
}

.project-img {
  width: 331px;
}

.tech-lists {
  font-weight: 600;
  font-size: 16px;
  margin: 20px 0;
}

.tech-lists img {
  margin-left: 5px;
}

.portfolio-content p {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.portfolio-content ul {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.portfolio-content li {
  margin: 12px 0;
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  margin-right: 15px;
  color: #6070ff;
  width: auto;
}

.bttn {
  margin-top: 12px;
}

.tonic {
  height: 36px;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
}

.desktop-nav {
  display: none;
}

.btn-links {
  margin: 40px 30px 40px 0;
}

.link-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn-touch {
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-touch:enabled {
  background: #fff;
  color: #3b4eff;
}

.btn-touch:hover {
  color: #fff;
  background: #3b4eff;
}

.btn-touch:active {
  background: #2230d2;
  color: #fff;
}

.btn-touch:disabled {
  color: #5e6c84;
}

.workss {
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f7f7f9;
  background-image: url(resources/img/Baseaboutmyself.png);
  height: max-content;
}

.lang-img {
  width: 50px;
  position: relative;
  right: 32px;
}

.skill-border {
  border-bottom: 1px solid #c8c8ca;
  border-top: 1px solid #c8c8ca;
  width: 100%;
}

.about-me {
  height: 409px;
  width: 327px;
  left: 24px;
  top: 114px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

.skill-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me h1 {
  font-size: 48px;
}

.about-me p {
  font-size: 18px;
}

.connect {
  margin-bottom: 16px;
}

.tech-toolss li {
  height: 67px;
  border-radius: 8px;
  background: #f7f7f9;
  margin-bottom: 12px;
}

.skill {
  height: 66.7155990600586px;
  width: 303px;
  border-radius: 8px;
  background: #f7f7f9;
  margin-bottom: 12px;
  padding-left: 12px;
}

.lang a {
  font-size: 29px;
  display: inline;
  text-align: center;
  color: black;
}

.lang span {
  position: absolute;
  right: 120px;
}

.listimg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.listimg img {
  margin-left: 12px;
  width: 40px;
  height: 40px;
}

.listimg a {
  margin-left: 12px;
  color: #000;
}

.skill-format {
  display: flex;
  align-items: center;
  color: #000;
  height: 66.7155990600586px;
  font-size: 20px;
  font-weight: 500;
}

.btt-arr {
  margin-left: 189px;
  font-size: 32px;
  background: transparent;
  border: none;
}

.skill-margin {
  margin-left: 60px;
}

.framework {
  border-bottom: 1px solid #c8c8ca;
}

.footer-wrap {
  background-color: hsl(234, 100%, 69%);
  border-top-left-radius: 84px;
  background-image: url(resources/img/contact-form-shapes-mobile.png);
  background-position: right 21px;
  background-repeat: no-repeat;
  height: 779px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-detail {
  margin: 0 24px;
  margin-bottom: 54px;
}

.contact-header {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  padding-top: 103px;
  margin-bottom: 12px;
}

.contact-para {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

.contact-form {
  margin: 0 24px;
}

.block-disp {
  height: 48px;
  width: 327px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: none;
  padding: 15px 38px 15px 16px;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}

.block-disp:focus {
  background-color: #c8c8ca;
}

.texttypo {
  height: 170px;
}

.bottom-img {
  height: 5px;
  width: 134px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #6070ff;
  z-index: 5000;
  mix-blend-mode: multiply;
  backdrop-filter: blur(10px);
  display: none;
}

.overlay img {
  position: absolute;
  top: 61px;
  right: 37px;
  cursor: pointer;
}

.overlay a {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
}

.overlay ul {
  margin-top: 80px;
  margin-left: 12px;
}

.overlay li {
  list-style: none;
  margin: 15px 0;
}

.popup {
  display: none;
  height: 755px;
  overflow: hidden;
}

.popup .portfolio-content {
  margin: 15px 0;
}

.popup .tech-lists {
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
}

.popup .project-img {
  height: 220px;
  margin: 10px 0;
}

.close-popup {
  cursor: pointer;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links-skills ul {
  margin-top: 12px;
  margin-bottom: 24px;
}

.live-link {
  padding: 6px;
}

@media screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    width: 100%;
  }

  .general-container {
    height: 100%;
    background: #f4f5f7;
    display: flex;
    flex-direction: column;
  }

  .central-wrapper {
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 114px;
    height: 812px;
  }

  .header-class {
    height: 84px;
    position: fixed;
    padding: 0 142px;
    width: 100%;
    z-index: 4;
  }

  .self-intro {
    animation-duration: 0.15s;
    animation-name: flyin;
    width: 50vw;
    height: 148px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #344563;
    margin-bottom: 10px;
  }

  @keyframes flyin {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
    width: 40vw;
    right: 20px;
  }

  .tech-toolss li {
    width: 122px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f7f7f9;
    margin-right: 12px;
  }

  .tech-toolss img {
    margin: 0 auto;
  }

  .desktop-nav li {
    margin-right: 2em;
  }

  .links-skills li {
    width: fit-content;
  }

  .desktop-nav li:last-child {
    margin-right: 0;
  }

  a:hover {
    transform: scale(1.1);
    transition: 1.5s;
    cursor: pointer;
  }

  .header-typo {
    font-weight: 500;
    font-size: 22px;
    color: #344563;
  }

  .logo-text {
    color: #6070ff;
    width: 20vw;
  }

  .main-wrapper {
    width: 100%;
    top: 24px;
    background-image: url(resources/img/Header-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 769px;
    background-origin: content-box;
  }

  .main-content-desktop {
    position: absolute;
    top: 180px;
    left: 230px;
  }

  .name {
    width: 60vw;
    font-weight: 700;
    font-size: 3rem;
    line-height: 50px;
    letter-spacing: 0.37px;
    color: #091e42;
    margin-top: 114px;
    margin-bottom: 16px;
  }

  .social-connect {
    margin-bottom: 20px;
  }

  .overlay,
  .hamburger {
    display: none;
  }

  .workss {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 634px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-top-right-radius: 124px;
    padding: 64px 0;
  }

  .workss-wrapper {
    display: flex;
    max-width: 100%;
    margin-left: 68px;
  }

  .name2 {
    width: 60vw;
    font-weight: 700;
    font-size: 3rem;
    line-height: 50px;
    letter-spacing: 0.37px;
    color: #091e42;
    margin-top: 14px;
    margin-bottom: 16px;
  }

  .about-me {
    width: 50%;
  }

  .about-me p {
    margin-bottom: 70px;
    width: 400px;
  }

  .skills-tools {
    display: flex;
    justify-content: space-between;
  }

  .footer-wrap {
    background-color: hsl(234, 100%, 69%);
    border-top-left-radius: 84px;
    background-image: url(resources/img/contact\ formbackgroundshapes@2x.png);
    background-position: right 24px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 779px;
    display: flex;
    flex-direction: column;
    background-origin: content-box;
    padding: 75px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .tech-toolss {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #fff;
  }

  .listimg {
    display: flex;
    flex-direction: column;
  }

  .stack-lists {
    display: flex;
  }

  .listimg a {
    margin: 5px auto;
  }

  .skill-list {
    position: absolute;
    left: 600px;
  }

  summary {
    font-size: 32px;
    margin-top: 15px;
  }

  .skill-margin {
    margin-left: 62px;
  }

  .skill-lang {
    margin-left: 392px;
  }

  .getresume {
    margin-top: 30px;
  }

  .contact-detail {
    max-width: 569px;
  }

  footer {
    width: 100%;
  }

  .social-media-icons {
    margin-top: 14px;
  }

  .connect {
    margin-top: 4px;
  }

  .framework {
    width: 100%;
  }

  input[type="email"]::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .list-style {
    font-weight: 500;
    color: #344563;
  }

  .list-style2 {
    font-weight: 400;
    color: #6b778c;
  }

  .dynamic-content {
    padding: 0 64px;
    width: 122%;
  }

  .portfolio-content {
    display: flex;
    width: 80%;
  }

  .project-img {
    width: 40vw;
    margin-right: 20px;
  }

  .project-img:hover {
    scale: 0.9;
  }

  .project-details,
  .tech-lists {
    margin-top: 26px;
    width: 57%;
  }

  .project-details p {
    padding: 20px 0;
    width: 85%;
  }

  .project-details button {
    margin-top: 40px;
  }

  .popup .portfolio-content {
    flex-direction: column;
    margin: 37px 136px;
    background: #fff;
    border-radius: 8px;
  }

  .popup {
    overflow: visible;
  }

  .popup .project-img {
    width: 100%;
    height: 418px;
    overflow: visible;
    margin: 20px 0;
  }

  .popup .close-popup {
    margin-left: 450px;
  }

  .popup p {
    width: 57%;
    float: left;
  }

  .links-skills {
    width: 37%;
    float: right;
    margin-bottom: 24px;
  }

  .links-skills ul {
    display: flex;
    margin-bottom: 24px;
  }

  .live-link {
    padding: 7px;
    margin-right: 10px;
  }

  .live-link:last-child {
    margin-right: 0;
  }
}

#portfolio {
  width: 100%;
}

.error-message {
  display: none;
  color: red;
}
